<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>부서 목록</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>사원-부서 정보(페이징)</h1>
<div>
	

	<a th:href="@{|/emp-info?page=0&sortBy=sal&direction=desc|}">급여
		내림차순</a>
</div>
<table border="1">
    <tr>
        <th>이름</th>
        <th>급여</th>
        <th>부서명</th>
    </tr>
    <tr th:each="emp : ${empPage.content}">
        <td th:text="${emp.ename}"></td>
        <td th:text="${emp.sal}"></td>
        <td th:text="${emp.dname}"></td>
    </tr>
</table>


<div>

        <a th:href="@{|/emp-info?page=${empPage.number - 1}&sortBy=ename&direction=asc|}" th:if="${empPage.hasPrevious()}">이전</a>

        <span th:text="${empPage.number + 1}"></span> / <span th:text="${empPage.totalPages}"></span>

        <a th:href="@{|/emp-info?page=${empPage.number + 1}&sortBy=${sortBy}&direction=${direction}|}" th:if="${empPage.hasNext()}">다음</a>
    </div>
	
</body>
</html>
